{% load staticfiles %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"  type="text/css" media="screen">
    <script type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <title>{% block title %}{% endblock %}</title>
    {% block script %}{% endblock %}
</head>
<body>
<main class="container">
    <h1>Ekran base dla Gry</h1>
    <ul>
        <li><a href="{% url 'city_engine:main' %}">Miasto</a></li>
        <li><a href="{% url 'city_engine:resources' %}">Surowce</a></li>
    </ul>
    {% block content %}
    {% endblock %}
</main>
{% block jsScript %}

{% endblock %}
</body>
</html>