{% extends 'base_city.html' %}
{% load staticfiles %}

{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
{% endblock %}

{% block title %}Miasto {{ city.name }}{% endblock %}

{% block content %}

{% if request.user.is_authenticated %}
    <p>Witaj, {{ request.user.username }}!</p>
    <p><a href="{% url 'player:logout' %}">Wyloguj</a></p>
                    {% else %}
    <p><a href="{% url 'player:login' %}">Zaloguj</a></p>
    {% endif %}

<p>Miasto: {{ city.name }}</p>
<p>Pieniądze: {{ city.cash }}</p>
<p>Masa: {{ city.mass }}</p>
<p>Koszty utrzymania: {{ total_cost_of_maintenance }}</p>

<p>Obecna populacja {{ current_population }}/{{ max_population }}</p>

<h1>Statystyki</h1>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Energia</th>
            <th>Surowa Woda</th>
            <th>Oczyszczona Woda</th>
        </tr>
    </thead>
    <tbody>
        {% for resources in city_resources_stats %}
            <tr>
                {% for stats in resources %}
                <th>{{ stats }}</th>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>

<p>{{ profile.current_turn }}/12</p>
{% if city.cash > 0 %}
    {% if profile.current_turn <= 11 %}
        <button><a href="{% url 'city_engine:turn_calculations' %}">Kolejna tura</a></button>
{% endif %}
{% endif %}

{% if city.cash <= 0 %}
<h1>BANKRUT</h1>
{% endif %}

<p>Zapotrzebowanie na strefy mieszkalne: {{ home_demands }}</p>
<p>Zapotrzebowanie na strefy przemysłowe: {{ industial_demands }}</p>
<p>Zapotrzebowanie na strefy handlowe: {{ trade_demands }}</p>

{% if buildings %}
<h1><b>Lista budynków</b></h1>
<table class="table">
    <thead>
        <tr>
            <th>Nazwa</th>
        </tr>
    </thead>
    <tbody>
    {% for name in buildings %}
        <tr>
            <th>{{ name }}</th>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}

{% if buildings_under_construction %}
<p><b>Lista budynków w budowie</b></p>
<table class="table">
    <thead>
        <tr>
            <th>Budowa</th>
            <th>Czas</th>
        </tr>
    </thead>
    <tbody>
    {% for name, start, end in buildings_under_construction %}
        <tr>
            <th>{{ name }}</th>
            <th>{{ start }}/{{ end }}</th>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}

<table class="table">
    <thead>
        <tr>
            <th>Imię</th>
            <th>Nazwisko</th>
        </tr>
    </thead>
    <tbody>
    {% for c in citizen %}
    <tr>
        <th>{{ c.name }}</th>
        <th>{{ c.surname }}</th>
        <th>{{ c.sex }}</th>
    </tr>
    {% endfor %}
    </tbody>
</table>

{{ msg }}

<button class="hex-change">Zmień hexy</button>

<div id="buildSection">
    <p>Aktywny budynek: {{ activeBuilding }}</p>
    {% for building in list_of_buildings %}
    <button v-on:click="filter('{{ building }}')" name="{{ building }}">{{ building }}</button>
    {% endfor %}

    <button v-on:click="filter('StandardLevelResidentialZone')" name="StandardLevelResidentialZone">Strefa mieszkalna $</button>
    <input v-model="numOfResidents" v-bind:class='{unSeen: activeBuilding !== "StandardLevelResidentialZone" }' type="number" placeholder="Ilość mieszkańców">

<div id="board">
    <h1>Plansza wygenerowana z Djagno</h1>
    {{ hex_table }}
</div>
<div id="hexInfoBox">
    <h1>Podgląd hexa</h1>
    {{ hex_detail_info_table }}
</div>
</div>

{% endblock %}

{% block jsScript %}
<script>
    new Vue({
        el: '#buildSection',
        data: {
            isActive: false,
            activeBuilding: '',
            numOfResidents: 0
        },
        methods: {
            filter: function (typeOfBuilding) {
                if (!this.isActive) {
                    this.activeBuilding = typeOfBuilding;
                    this.isActive = !this.isActive;
                } else if (this.activeBuilding === typeOfBuilding) {
                    this.isActive = !this.isActive;
                    this.activeBuilding = '';
                    this.numOfResidents = 0;
                } else if (this.activeBuilding !== typeOfBuilding) {
                    this.activeBuilding = typeOfBuilding;
                }
            },
            ifLeadZero: function (rc) {
                if (rc <= 9) {
                    return '0' + rc;
                } else {
                    return rc;
                }
            },
            getRowCol: function (rc) {
                rc = this.ifLeadZero(rc);
                if (this.isActive && this.activeBuilding === "StandardLevelResidentialZone") {
                    window.location.replace("/build_resident/" + rc + "/" + this.numOfResidents);
                } else if (this.activeBuilding) {
                    window.location.replace("/build/" + rc + "/" + this.activeBuilding + "");
                }
            }
        }
    })
</script>
{% endblock %}