{% extends 'base_city.html' %}
{% load staticfiles %}

{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}

{% block title %}Miasto {{ city.name }}{% endblock %}

{% block content %}

{% if request.user.is_authenticated %}
    <p>Witaj, {{ request.user.username }}!</p>
    <p><a href="{% url 'player:logout' %}">Wyloguj</a></p>
                    {% else %}
    <p><a href="{% url 'player:login' %}">Zaloguj</a></p>
    {% endif %}

<p>Miasto: {{ city.name }}</p>
<p>Pieniądze: {{ city.cash }}</p>
<p>Masa: {{ city.mass }}</p>
<p>Koszty utrzymania: {{ total_cost_of_maintenance }}</p>

<p>Obecna populacja {{ current_population }}/{{ max_population }}</p>

<h1>Statystyki</h1>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Energia</th>
            <th>Surowa Woda</th>
            <th>Oczyszczona Woda</th>
        </tr>
    </thead>
    <tbody>
        {% for resources in city_resources_stats %}
            <tr>
                {% for stats in resources %}
                <th>{{ stats }}</th>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>

<p>{{ profile.current_turn }}/12</p>
{% if city.cash > 0 %}
    {% if profile.current_turn <= 11 %}
        <button><a href="{% url 'city_engine:turn_calculations' %}">Kolejna tura</a></button>
{% endif %}
{% endif %}

{% if city.cash <= 0 %}
<h1>BANKRUT</h1>
{% endif %}

<p>Zapotrzebowanie na strefy mieszkalne: {{ home_demands }}</p>
<p>Zapotrzebowanie na strefy przemysłowe: {{ industial_demands }}</p>
<p>Zapotrzebowanie na strefy handlowe: {{ trade_demands }}</p>

<div class="container">
    <h2>Dynamic Tabs</h2>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
        <li><a data-toggle="tab" href="#menu1">Mieszkańcy</a></li>
        <li><a data-toggle="tab" href="#menu2">Budynki</a></li>
        <li><a data-toggle="tab" href="#menu3">Budynki w trakcie budowy</a></li>
        <li><a data-toggle="tab" href="#menu4">Rodziny</a></li>
    </ul>
    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <h3>HOME</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div id="menu1" class="tab-pane fade">
            <h3>Mieszkańcy</h3>
            <table class="table">
                <thead>
                <tr>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th>Wiek</th>
                    <th>Płeć</th>
                    <th>Miejsce pracy</th>
                    <th>Pieniądze</th>
                    <th>Zawód</th>
                    <th>Wykształcenie</th>
                    <th>Miejsce zamieszkania</th>
                </tr>
                </thead>
                <tbody>
                {% for c in citizen %}
                <tr>
                    <th>{{ c.ci.name }}</th>
                    <th>{{ c.ci.surname }}</th>
                    <th>{{ c.ci.age }}</th>
                    <th>{{ c.ci.sex }}</th>
                    <th>{{ c.ci.workplace_object }}</th>
                    <th>{{ c.ci.cash }}</th>
                    <th>{{ c.current_profession.name }},{{ c.current_profession.proficiency}}</th>
                    <th>{{ c.current_education }}</th>
                    <th>{{ c.ci.resident_object }}</th>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="menu2" class="tab-pane fade">
            <h3>Budynki</h3>
            {% if buildings %}
            <h1><b>Lista budynków</b></h1>
            <table class="table">
                <thead>
                <tr>
                    <th>Nazwa</th>
                    <th>Energia</th>
                    <th>Woda</th>
                </tr>
                </thead>
                <tbody>
                {% for b in buildings %}
                <tr>
                    <th>{{ b.bi.name }}</th>
                    <th>{{ b.bi.energy }}/{{ b.bi.energy_required }}</th>
                    <th>{{b.bi.water }}/{{ b.bi.water_required }}</th>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
        <div id="menu3" class="tab-pane fade">
            <h3>Budynki w trakcie budowy</h3>
            {% if buildings_under_construction %}
            <p><b>Lista budynków w budowie</b></p>
            <table class="table">
                <thead>
                <tr>
                    <th>Budowa</th>
                    <th>Czas</th>
                </tr>
                </thead>
                <tbody>
                {% for name, start, end in buildings_under_construction %}
                <tr>
                    <th>{{ name }}</th>
                    <th>{{ start }}/{{ end }}</th>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
        <div id="menu4" class="tab-pane fade">
            <h3>Rodziny</h3>
            <table class="table">
                <thead>
                <tr>
                    <th>Rodzina</th>
                    <th>Członkowie</th>
                    <th>Pieniądze</th>
                </tr>
                </thead>
                <tbody>
                {% for f in families%}
                <tr>
                    {% for fam in f.fi %}
                    <th>{{ fam.surname }}</th>
                    {% endfor %}
                    <th>{{ f.members}}</th>
                    <th>{{ f.cash }}</th>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<button class="hex-change">Zmień hexy</button>

<div id="buildSection">
    <p>Aktywny budynek: {{ activeBuilding }}</p>
    {% for building in list_of_buildings_class %}
    <button v-on:click="filter('{{ building }}')" name="{{ building }}">{{ building }}</button>
    {% endfor %}

    <button v-on:click="filter('StandardLevelResidentialZone')" name="StandardLevelResidentialZone">Strefa mieszkalna $</button>
    <input v-model="numOfResidents" v-bind:class='{unSeen: activeBuilding !== "StandardLevelResidentialZone" }' type="number" placeholder="Ilość mieszkańców">

<div id="board">
    <h1>Plansza wygenerowana z Djagno</h1>
    {{ hex_table }}
</div>
<div id="hexInfoBox">
    <h1>Podgląd hexa</h1>
    {{ hex_detail_info_table }}
</div>
</div>

{% endblock %}

{% block jsScript %}
<script>
    new Vue({
        el: '#buildSection',
        data: {
            isActive: false,
            activeBuilding: '',
            numOfResidents: 0
        },
        methods: {
            filter: function (typeOfBuilding) {
                if (!this.isActive) {
                    this.activeBuilding = typeOfBuilding;
                    this.isActive = !this.isActive;
                } else if (this.activeBuilding === typeOfBuilding) {
                    this.isActive = !this.isActive;
                    this.activeBuilding = '';
                    this.numOfResidents = 0;
                } else if (this.activeBuilding !== typeOfBuilding) {
                    this.activeBuilding = typeOfBuilding;
                }
            },
            ifLeadZero: function (rc) {
                if (rc <= 9) {
                    return '0' + rc;
                } else {
                    return rc;
                }
            },
            getRowCol: function (rc) {
                rc = this.ifLeadZero(rc);
                if (this.isActive && this.activeBuilding === "StandardLevelResidentialZone") {
                    window.location.replace("/build_resident/" + rc + "/" + this.numOfResidents);
                } else if (this.activeBuilding) {
                    window.location.replace("/build/" + rc + "/" + this.activeBuilding + "");
                }
            }
        }
    })
</script>
{% endblock %}