{% extends 'base_city.html' %}
{% load staticfiles %}

{% block script %}
{% endblock %}

{% block title %}Surowce{% endblock %}

{% block content %}
    <h1>Surowce dla miasta {{ city.name }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nazwa</th>
                <th>Rozmiar</th>
                <th>Całość</th>
            </tr>
        </thead>
        <tbody>
            {% for name, resource in resources %}
            <tr>
                <th>{{ name }}</th>
                <th>
                {% for ob in resource.0 %}
                    <ul>
                        <li>{{ ob.name }}: {{ ob.size }}</li>
                    </ul>
                    {% endfor %}
                </th>
                <th>{{ resource.1 }}</th>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}