
body {
    margin: 0 auto;
    padding: 0;
    font-family: Arial, helvetica, sans-serif;
    font-size: 12px;
    letter-spacing: 0.1em;
    width: 100%;
    background: #efefef;
}
#board {
    border-style: solid;
}

.hexagon {
    float: left;
    margin-left: 3px;
    margin-bottom: -16px;
}

.hexagon:hover .hexagon-top {
    border-bottom: 20px solid red;
    }

.hexagon:hover .hexagon-middle {
    background: red;
    }

.hexagon:hover .hexagon-bottom {
    border-top: 20px solid red;
    }

.hexagon-top {
    width: 0;
    border-bottom: 20px solid #6C6;
    border-left: 31px solid transparent;
    border-right: 31px solid transparent;
}

.hexagon-middle {
    width: 62px;
    height: 40px;
    background: #6C6;
}

.hexagon-bottom {
    width: 0;
    border-top: 20px solid #6C6;
    border-left: 31px solid transparent;
    border-right: 31px solid transparent;
}

.hex-row {
    clear: left;
}

.hex-row.even {
    margin-left: 32px;
}

.changeHex .hexagon-top {
    border-bottom: 20px solid green;
}

.changeHex .hexagon-middle {
    background: green;
}

.changeHex .hexagon-bottom {
    border-top: 20px solid green;
}

#hexInfoBox {
    border-style: solid;
}

.hexInfoBoxDetail {
    display: none;
    border-style: solid
}

.hexInfoDetail {
     display: none;
     position: absolute;
     z-index:1;
     border-style: solid;
     background-color: white;
}

.isHexTaken .hexagon-top {
    border-bottom: 20px solid yellow;
}

.isHexTaken .hexagon-middle {
    background: yellow;
}

.isHexTaken .hexagon-bottom {
    border-top: 20px solid yellow;
}

.disabled {
    pointer-events: none;
}
.disabled .hexagon-top {
    border-bottom: 20px solid grey;
}

.disabled .hexagon-middle {
    background: grey;
}

.disabled .hexagon-bottom {
    border-top: 20px solid grey;
}

.unSeen{
    opacity: 0;
}