

body {
    margin: 0 auto;
    padding: 0;
    font-family: Arial, helvetica, sans-serif;
    font-size: 12px;
    letter-spacing: 0.1em;
    width: 100%;
    background: #efefef;
}
#board {
    border-style: solid;
}

.hexagon {
    float: left;
    margin-left: 3px;
    margin-bottom: -16px;
}

.hexagon:hover .hexagon-top {
    border-bottom: 20px solid red;
    }

.hexagon:hover .hexagon-middle {
    background: red;
    }

.hexagon:hover .hexagon-bottom {
    border-top: 20px solid red;
    }

.hexagon-top {
    width: 0;
    border-bottom: 20px solid #6C6;
    border-left: 31px solid transparent;
    border-right: 31px solid transparent;
}

.hexagon-middle {
    width: 62px;
    height: 40px;
    background: #6C6;
}

.hexagon-bottom {
    width: 0;
    border-top: 20px solid #6C6;
    border-left: 31px solid transparent;
    border-right: 31px solid transparent;
}

.hex-row {
    clear: left;
}

.hex-row.even {
    margin-left: 32px;
}

.change-hex .hexagon-top {
    border-bottom: 20px solid black;
}

.change-hex .hexagon-middle {
    background: black;
}

.change-hex .hexagon-bottom {
    border-top: 20px solid black;
}

.detail-hex-info {
    position:absolute;
    z-index:1;
    border-style: solid;
    background-color: white;
}