{% load staticfiles %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <title>{% block title %}{% endblock %}</title>
    {% block script %}{% endblock %}
</head>
<body>
<main class="container">
    <h1>Ekran base dla Logowania</h1>
    {% block content %}
    {% endblock %}
    {% if request.user.is_authenticated %}
    <h1>Witaj, {{ request.user.first_name }}!</h1>
    <h1><a href="{% url 'player:logout' %}">Wyloguj</a></h1>
                    {% else %}
    <h1><a href="{% url 'player:login' %}">Zaloguj</a></h1>
                    {% endif %}
    <h1><a href="{% url 'player:signup' %}">Rejestracja</a></h1>

</main>

</body>
</html>